@CHARSET "UTF-8";
@media (max-width:768px){
	.container,.container-fluid{
		width:auto !important;	
	}
}
.tooltip-menu{
	display:none;
}
.tooltip-inner .tooltip-menu{
	margin: -2px -7px;
	display:block;
}